{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Find the Best Tutorials</title>

</head>

<body>
    <div>
        <h5>Technology page</h5>

            <h1> {{ tech.title }}</h1>>
            <h5> {{ tech.details }}</h5>>
            <a href="{{ tech.doc_url }}">{{ tech.doc_url }}</a>
        <div>
            {% for course in courses %}
                <h3>{{ course.title }}</h3>
                <h5>{{ course.user }}</h5>
                <h5>{{ course.free }}</h5>
                <h5>{{ course.upvotes }}</h5>
                <h5>{{ course.level }}</h5>
            {% endfor %}
        </div>
    </div>
